body {
    margin: 0;
}

.contenidor {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidor div {
    width: min-content;
    height: min-content;
}

h1 {
    color: rgb(155, 21, 21);
}

h1:hover { color: red; }
h2:hover { color: orange; }

img {
    width: 225px;
}
